figure > img {
    display: block; }

.bg-thumb {
    height: 100px;
    width: 100%;
    background-size: 1000px; }
  
  .bg-thumb-park-tiles {
    background-image: url(../img/nps-park-tiles-thumb-wide.png);
    /*background-repeat: no-repeat;
    background-size: 1000px;*/ }